{% extends 'user/layout.html' %} {% block body %}
    <!-- hero -->
    <div class="container">
        <section id="hero" class="text-center">
            <h2 class="display-6" style="margin-top: 10%; margin-bottom: 2% !important">Informasi Akun Mahasiswa</h2>
        </section>
    </div>
    <!-- end of hero -->


    <!-- infomarsi akun mahasiswa -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-left mt-5">
                <h3 class="mb-3">Hi, {{user.nama}}!</h3>
                <p>Selamat Datang di Area Anggota, tempat Anda dapat melihat status keanggotaan.</p>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <img src="{{ url_for('static', filename='images/profile-default.png') }}" class="card-img-top rounded" style="width: 306px; height: 306px;" alt="foto_mahasiswa">
                </div>
                <div class="col-md-9">
                    <div class="card" style="max-width: 350px;">
                        <div class="card-header">Status</div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p style="font-size: 16px;">Anda saat ini masuk sebagai anggota: {{user.nama}} <br>NIM: {{user.nim}}</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group" style="max-width: 680px;">
                <li class="list-group-item list-group-item-success mb-3 text-center">Anda masih terdaftar sebagai Anggota CIT Library.</li> <!-- Tambahkan class "mb-3" di sini -->
            </ul>
        </div>
    </div>
    <!-- end of infomarsi akun mahasiswa -->
    
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}