{% extends "user/layout.html" %} {% block body %}


    <!-- hero -->
    <div class="container">
        <section id="hero" class="text-center">
            <h2 class="display-6" style="margin-top: 10%; margin-bottom: 2% !important">Pustakawan CIT Library</h2>
        </section>
    </div>
    <!-- end of hero -->


    <!-- list pustakawan -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/pasu_silaban.jpeg') }}" class="card-img-top" alt="foto-pustakawan">
                    <div class="card-body">
                        <h5 class="card-title">PASU SILABAN</h5>
                        <p class="card-text">Pustakawan</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Surel: pasu.silaban@calvin.ac.id</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/margaretha_serevina.jpeg') }}" class="card-img-top" alt="foto-pustakawan">
                    <div class="card-body">
                        <h5 class="card-title">MARGARETHA SEREVINA</h5>
                        <p class="card-text">Pustakawan</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Surel: margaretha.serevina@calvin.ac.id</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/admin.jpg') }}" class="card-img-top" alt="foto-pustakawan">
                    <div class="card-body">
                        <h5 class="card-title">ADMIN</h5>
                        <p class="card-text">Pustakawan</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Surel: library@calvin.ac.id</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of list pustakawan -->

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock %}