* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.card a {
    color: inherit;
    text-decoration: none;
}

/* RESPONSIVE MEDIA */
@media (max-width: 576px) {
    #hero {
        padding-top: 70px;
    }
}

@media (min-width: 992px) { /* Atur ukuran hanya untuk layar desktop (lebar minimal 992px) */
    .map-container iframe {
        width: 100%; 
        height: 400px; 
    }
}