<div class="container my-5 flex-grow-1">
    <div class="row">
        <div class="col d-flex flex-column align-items-center text-center">
            <h4>Data Mahasiswa:</h4>
            <div class="image-container" id="book-img">
                <img src="../images/library.jpg" alt="plato-book" class="img-fluid">
            </div>
            <div id="student-data">
                <div id="student-name">
                    Stephen Suryadinata
                </div>
                <div id="student-id">
                    212100111
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center text-center">
            <h4>Data Buku:</h4>
            <div class="image-container" id="book-img">
                <img src="../images/plato-republic.jpg" alt="plato-book" class="img-fluid">
            </div>
            <div id="book-title">
                The Republic by Plato
            </div>
            <div id="book-stats">
                Available: 2 units
            </div>
        </div>
    </div>
</div>

<div style="background-color: #800507; padding: 15px; text-align: center;">
    <button class="btn text-white" style="background-color: #800507;">PINJAM</button>
</div>